# <center>Handling Mising Data - fillna,interpolate, dropna</center>

In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('weatherNC.csv')
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [11]:
df.set_index('day', inplace=True)
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

# fillna

In [12]:
newdf = df.fillna(0)
newdf

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           0.0        9.0   Sunny
1/5/2017          28.0        0.0    Snow
1/6/2017           0.0        7.0       0
1/7/2017          32.0        0.0    Rain
1/8/2017           0.0        0.0   Sunny
1/9/2017           0.0        0.0       0
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [37]:
newdf = df.fillna({'temperature': 0,'windspeed': 0,'event':'noevent'})
newdf

          temperature windspeed    event
day
1/1/2017           32         6     Rain
1/4/2017      noevent         9    Sunny
1/5/2017           28   noevent     Snow
1/6/2017      noevent         7  noevent
1/7/2017           32   noevent     Rain
1/8/2017      noevent   noevent    Sunny
1/9/2017      noevent   noevent  noevent
1/10/2017          34         8   Cloudy
1/11/2017          40        12    Sunny

In [15]:
newdf = df.fillna(method='ffill')
newdf

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017          32.0        9.0   Sunny
1/5/2017          28.0        9.0    Snow
1/6/2017          28.0        7.0    Snow
1/7/2017          32.0        7.0    Rain
1/8/2017          32.0        7.0   Sunny
1/9/2017          32.0        7.0   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [16]:
newdf = df.fillna(method='bfill')
newdf

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017          28.0        9.0   Sunny
1/5/2017          28.0        7.0    Snow
1/6/2017          32.0        7.0    Rain
1/7/2017          32.0        8.0    Rain
1/8/2017          34.0        8.0   Sunny
1/9/2017          34.0        8.0  Cloudy
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

#interpolate

In [17]:
newdf = df.interpolate()
newdf

           temperature  windspeed   event
day
1/1/2017     32.000000       6.00    Rain
1/4/2017     30.000000       9.00   Sunny
1/5/2017     28.000000       8.00    Snow
1/6/2017     30.000000       7.00     NaN
1/7/2017     32.000000       7.25    Rain
1/8/2017     32.666667       7.50   Sunny
1/9/2017     33.333333       7.75     NaN
1/10/2017    34.000000       8.00  Cloudy
1/11/2017    40.000000      12.00   Sunny

# dropna

In [18]:
newdf = df.dropna()
newdf

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny